/target/
build/
node_modules/
frontend/generated/
pnpmfile.js
webpack.generated.js
vite.generated.ts
.npmrc
tsconfig.json
types.d.ts
index.html
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache